html {
  background-color: rgba(247, 247, 249, 1);
  min-height: 100vh
}

body {
  min-height: 100vh;
  background-color: rgba(247, 247, 249, 1);
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
